:root {
    --primary-color: #2ecc71; /* Verde claro */
    --dashboard-color: #113f3f; /* Verde escuro */
    --background-color: #0b2e2e; /* Cinza escuro */
    --text-color: #ffffff; /* Branco */
}



/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.hero {
    
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/images/dollarHero.jpg);
    text-align: center;
    padding: 4rem 1rem;
    box-shadow: var(--background-color) 0px -50px 18px -28px inset;
}

.hero span {
    color: var(--primary-color);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.hero h1 {
    font-size: xxx-large;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.btn {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 0.7rem  5rem;
    border-radius: 5px;
}

.beneficios {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 1.5rem;
}

.beneficio {
    background-color: var(--dashboard-color);
    border-radius: 5px;
    padding: 1rem 1.5rem;
    text-align: center;
}

.funcionamento {
    text-align: center;
    padding: 3rem 1rem;
}

.funcionamento h2 {
    margin-bottom: 1rem;
}

.funcionamento ol {
    list-style-position: inside;
    text-align: center;
}

.chamada {
    background-color: var(--dashboard-color);
    padding: 4rem 1rem;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/images/chamada.jpg);
    box-shadow: var(--background-color) 0px -50px 8px -28px inset;
}

.chamada h2 {
    margin-bottom: 1rem;
}

/* SECTIONS - MODEL 1*/

.section {
    display: flex;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.leftSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    width: 50%;
    box-shadow: var(--background-color) 0px -50px 18px -28px inset;
}

.cardLeftSection {
    max-width: 400px;
    background-color: #267f5e;
    border-radius: 5px;
    padding: 4rem 1rem;
    height: fit-content;
}


.cardLeftSection h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cardLeftSection p {
    padding: 1rem;
}

.rightSection {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 4rem 1rem;
}

.rightSection img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* /* SECTIONS - MODEL 2 */

.reverseSection {
    display: flex;
    margin-top: 5rem;
    background-color: var(--dashboard-color);
    flex-wrap: wrap;
    box-shadow: var(--background-color) 0px -50px 18px -28px inset;

}

.leftReverseSection {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 4rem 1rem;
    box-shadow: var(--background-color) 0px -50px 18px -28px inset;
}

.reverseSection img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: var(--dashboard-color) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.rightReverseSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    width: 50%;
    box-shadow: var(--background-color) 0px -50px 18px -28px inset;
}

.cardReverseSection {
    max-width: 400px;
    background-color: #267f5e;
    border-radius: 5px;
    padding: 4rem 1rem;
    height: fit-content;
}

.cardReverseSection h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.cardReverseSection p {
    padding: 1rem;
}



/* CONTACTS */
.contactSection {
    display: flex;
    margin-top: 5rem;
    background-color: var(--dashboard-color);
}

.leftContato {
    width: 50%;
    padding: 4rem 1rem;
    text-align: center;
    box-shadow: var(--background-color) 0px -50px 18px -28px inset;
}

.leftContato h1 {
    font-size: 7pc;
}

.leftContato span{
    color: var(--primary-color);
}

.rightContato {
    display: flex;
    justify-content: center;
    padding: 3rem;
    width: 50%;
    box-shadow: var(--background-color) 0px -50px 18px -28px inset;
}

.listContact {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
}

.listContact h2 {
    color: var(--primary-color);
}

.contact {
    padding: 0.50rem;
    border-radius: 5px;
    /* text-align: center; */
}

@media (max-width: 768px) {
    .beneficios {
      flex-direction: column;
      align-items: center;
    }
  
    .section,
    .reverseSection, 
    .contactSection {
      flex-direction: column;
    }
  
    .leftSection,
    .rightSection,
    .cardLeftSection,
    .leftReverseSection,
    .rightReverseSection,
    .cardReverseSection,
    .leftContato,
    .rightContato {
      width: 100%;
      padding: 2rem;
    }
}


.hero h1, .hero p, .btn, .beneficios {
    animation: fadeInUp 1s ease forwards;
    opacity: 0;
  }
  
  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }




